<!DOCTYPE html>
<html>
<head>
	<link rel="icon" type="image/x-icon" href="img/znachok.ico">
  <title>LineageII</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="page">
		<div class="header">
			<ul id="navbar">
			  <li id="NewsButton"><%= link_to 'Новости', root_path %></li>
			  <li id="PhotoButton"><%= link_to 'Фото', gallery_path %></li>
			  <li id="ContactsButton"><%= link_to 'Контакты', contacts_path %></li>
			  <li id="MessageButton"><%= link_to 'Обр.Связь', new_message_path %></li>
			</ul>
		</div>
		<div class="main-text">
<%= yield %>
</div>
</body>
</html>
